ruamel_yaml
git+https://github.com/globocom/argocd-client.git
python-keycloak
kubernetes
minio
numpy
omegaconf
pandas
pyhelm3
PyYAML
Requests
SQLAlchemy
toml
click
nltk
hydra-core
python-dotenv
flake8>=3.8.1
flake8-bugbear<=24.2.6  # https://github.com/Project-MONAI/MONAI/issues/7690
flake8-comprehensions
mccabe
pep8-naming
pycodestyle
pyflakes
black>=22.12
isort>=5.1, <6.0
ruff
pytype>=2020.6.1; platform_system != "Windows"
types-setuptools
mypy>=1.5.0, <1.12.0