django-formset==1.7.1
Django
asgiref
autopep8
dj-database-url
gunicorn
pycodestyle
pytz
sqlparse
toml
whitenoise
django-environ
django-allauth
django-sslserver
djangorestframework
pandas
matplotlib
mozilla-django-oidc
django-bootstrap5
django-bootstrap-v5
django-crispy-forms
pymysql
sqlalchemy
mysqlclient
minio
django-mathfilters
kubernetes
numpy==1.26.4
python-keycloak
omegaconf
hydra-core
pyhelm3
git+https://github.com/globocom/argocd-client.git