#!/usr/bin/env xdg-open
[Desktop Entry]
Comment[en_US]=
Comment=
Exec=$HOME/freesurfer/freesurfer/bin/freeview
GenericName[en_US]=
GenericName=
Icon=/etc/FreeSurfer.png
MimeType=
Name[en_US]=FreeView
Name=FreeView
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
