<footer class="footer py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-4 mx-auto text-center">
          <a href={{"DISCORD_SIGNUP_URL"|env}} target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2 fab fa-discord">
            Support
          </a>
          <a href="https://github.com/kthcloud" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-github"></span>
          </a>
        </div>
      </div>
      <div class="text-center">
        <a>Dashboard Version: {{dashboard_version}}</a>
      </div>
      
    </div>
  </footer>
  